:root{
    --textColor: #f9f9f9;
    --bgColor: #202020;
    --cardBgColor: #282828;
    --borderColor: #303030;
}

html, body{
    min-height: 100%;
}

body{
    background-color: var(--bgColor);
    color: var(--textColor);
}

.card img{
    width: 100px;
    height: 100px;
}

.card{
    display: flex;
    align-items: center;
    background-color: var(--cardBgColor);
    color: var(--textColor);
    border-color: var(--borderColor);
}

.card:hover{
    cursor: pointer;
}

.form-control{
    background-color: var(--cardBgColor);
    color: var(--textColor);
    border-color: var(--borderColor);
}

.form-control::placeholder{
    color: var(--textColor);
}

.form-control:focus{
    background-color: var(--cardBgColor);
    color: var(--textColor);
}

a{
    text-decoration: none;
    color: none;
}

h1, h2{
    font-size: 1.8em;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}